

.loginBody {
    background-color: rgba(114, 110, 110, 0.08);
}

.logoimg {
    width: 100%;
    margin-top: 2%;
}

.theform {
    border: solid 8px  #156d33;
    border-radius: 10%;
    border-style: inset;
    background-color: rgba(0, 0, 0, 0.181);
    padding: 10%;
    position: inherit;
    margin-top: 8%;
    width: 450px;
    margin-left: 50px;
}

.btnlog {
    margin: 1px;
    font-size: 17px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(#156d33, #ffffff);
    text-align: center;
    padding: 35px;
    font-weight: 700;
    text-decoration: none;
    font-size: 35px;
    font-family: monospace;

  }

  footer li {
    list-style: none;
  }
  