.signform {
    display: flex;
    background-color: rgba(114, 110, 110, 0.178);;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 100%;
    padding: 6%;
    max-width: 500px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    border-radius: 5%;
    border: solid 8px rgb(133, 83, 153);
    border-style: inset;
    box-shadow: whitesmoke 0 0 5px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%;
  }
  
  input {
    padding: 10px;
    border:  solid 2px !important;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
  }
  
  .AuthButton {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  .AuthButton:hover {
    background-color: #3e8e41;
    color: black;
  }

  .imglogo {
    width: 100%;
  }

  .thebtn {
    color: black;
  }
